.stickyTable {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.stickyTable .stickyTableCorner {
  z-index: 4;
}
.stickyTable .stickyTableHeader {
  z-index: 3;
  overflow: hidden;
}
.stickyTable .stickyTableColumn {
  min-height: 100%;
}
.stickyTable .stickyTableColumn,
.stickyTable .stickyTableHeader,
.stickyTable .stickyTableCorner,
.stickyTable .stickyTableXwrapper {
  display: inline-block;
  vertical-align: top;
}
.stickyTable .stickyTableColumn.hidden,
.stickyTable .stickyTableHeader.hidden,
.stickyTable .stickyTableCorner.hidden {
  display: none;
}
.stickyTable .stickyTableYwrapper,
.stickyTable .stickyTableHeaderWrapper {
  white-space: nowrap;
}
.stickyTable .stickyTableXwrapper,
.stickyTable .stickyTableYwrapper {
  z-index: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.stickyTable .stickyTableXwrapper {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
}
.stickyTable .stickyTableYwrapper {
  height: 100%;
  overflow-y: auto;
  margin-right: -17px;
  padding-right: 17px;
}
.stickyTable .stickyTableTable {
  overflow: visible;
}
/*
Hack to make table paint on it's own layer.
Because of this it won't paint when the scrollbar paints.
This one was crucial for performance.
Scrolling is ~10-20x smoother.
*/
.stickyTable .stickyTableTable {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Scrollbars */
.stickyTableYwrapper::-webkit-scrollbar,
.stickyTableXwrapper::-webkit-scrollbar {
  display: none;
}
.stickyTable .xScrollbar,
.stickyTable .yScrollbar {
  position: absolute;
  background-color: transparent;
  z-index: 5;
  overflow: auto;
  transform: translateZ(0);
}
.stickyTable .xScrollbar {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 17px;
}
.stickyTable .yScrollbar {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 17px;
}
.stickyTable .xScrollbar div {
  height: 100%;
}
.stickyTable .yScrollbar div {
  width: 100%;
}
